*{
    margin: 0;
}

.navbar{
    color: red;
    height: 100px;

}

.hero{
    min-height: calc(100vh - 100px);
    background: black;
    color: white
}

span{
    color: red;
    font-size: 30px;
}

.hero-button{
    color: white;
    background: red;
}

