
*{
    margin: 0;
}

#navbar{
    height: 5rem;
}

.logo{
    color: red;
    font-size: 20px;
}

.hero{
    min-height: calc(100vh - 5rem);
    background: black;
    color: white
}

.hero span{
    color:red;
    font-size: 30px;
}

.hero-btn{
    background: red;
    color: white
}